allow system_app vendor_default_prop:file { getattr open read };
allow system_app vendor_default_prop:file {map};
hal_client_domain(system_app, hal_mlipay)
